.btn{
  --btn-color: var(--bg-color);
  --btn-bg-color: var(--text-color-primary);


  border: 0;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  
  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  cursor: pointer;
}
.btn:hover{
  color: var(--bg-color);
  background: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color-primary) 100%
  );
}
.btn-sm{
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
}
.btn-md{
  padding: 0.75rem 1.5rem;
  font-size: var(--fs-base);
}
.btn-lg{
  padding: 1rem 2rem;
  font-size: var(--fs-lg);
}

.btn[aria-label]{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      background-color: var(--bg-color);
      border: inherit;
      inset: 1px;
      border-radius: inherit;
    }

  &::after{
    content: attr(aria-label);
    background: var(--btn-bg-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
  }
  &:hover::after{
    background: linear-gradient(
      90deg,
      var(--brand-color-secondary) 0%,
      var(--brand-color-primary) 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}