.btn{
  --btn-color: var(--bg-color);
  --btn-bg-color: var(--text-color-primary);


  border: 0;
  border-radius: 0.5rem;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  
  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);
  background-color: var(--btn-bg-color);
  color: var(--btn-color);
  cursor: pointer;
}
.btn:hover{
  color: var(--bg-color);
  background: linear-gradient(
    90deg,
    var(--brand-color-secondary) 0%,
    var(--brand-color-primary) 100%
  );
}
.btn-sm{
  padding: 0.5rem 1rem;
  font-size: var(--fs-sm);
}
.btn-md{
  padding: 0.75rem 1.5rem;
  font-size: var(--fs-base);
}
.btn-lg{
  padding: 1rem 2rem;
  font-size: var(--fs-lg);
}