.card{
  background-color: var(--surface-color);
  border-radius: 1.5rem;

  & img{
    width: 2rem;
    height: 2rem;
    margin-bottom: 1rem;
  }

  & h3{
    font: var(--h3-mobile);

  }
  & p{
    font: var(--p-mobile);
    color: var(--text-color-secondary);
  }
}

.cards{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (width >= 80em){
  .card{
    height: 25rem;

    & h3{
      font: var(--h3-desktop);
    }

    & p{
      margin-top: 0.5rem;
      font: var(--p-desktop);
    }
  }

  .desktop-only{
    & .cards{
      display: grid;
      grid-template-columns:  17.5rem 1fr 1fr 17.5rem;
      grid-template-rows: 25rem 25rem;
      gap: 2rem;
    }
    .card:nth-child(1){
      grid-column: 1;
    }
    
    .card:nth-child(2){
      grid-column: 2/4;
      display: flex;
      position: relative;
      overflow: hidden;
      gap: 0;

      & div:nth-child(1){
        width: 100%;
        height: 100%;
        max-width: 13.5rem;
        max-height: 13.5rem;
        
      }
      
        & div:nth-child(2){

          & img{
            position: absolute;
            width: 100%;
            height: 100%;
            max-width: 15rem;
            max-height: 30rem;
            right: 2rem;
            bottom: 3rem;
          }
        }
    }

    .card:nth-child(3){
      grid-column: 4;
    }

    .card:nth-child(4){
      grid-column: 1/3;
      grid-row: 2;
      display: flex;
      overflow: hidden;
      gap: 1rem;
      position: relative;


      & div:nth-child(1){
        display: flex;
        position: relative;
        & img{
          position: absolute;
          width: 100%;
          height: 100%;
          width: 15rem;
          height: 30rem;
          bottom: 1rem;
        }
      }
      
        & div:nth-child(2){
          width: 100%;
          height: 100%;
          max-width: 13.5rem;
          max-height: 13.5rem;
          margin-left: 50%;
        }
    }

    .card:nth-child(5){
      grid-column: 3/5;
      grid-row: 2;
  }
}
}