footer{
  
  & img:first-of-type{
    margin-bottom: 3rem;
  }

    & .footer-links{
      display: flex;
      flex-direction: column;
      gap: 4rem;

    }
    ul{
      color: var(--brand-color-secondary);
      font-size: 0.8rem;
      letter-spacing: 0.08rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
    }

    & li{
      color: var(--text-color-secondary);
      letter-spacing: 0;
      font-size: 1rem
    }
}

@media (width >= 80em){
  footer{
    display: flex;
    justify-content: space-between;
    
    & img:first-child{
      align-self: first baseline;
    }

    & ul{
      width: 14rem;
    }
    & .footer-links{
      flex-direction: row;
    }
  }

  .bottom{
    color: var(--text-color-secondary);
    justify-content: space-between;
    margin-bottom: 2rem;

    & div:last-child{
      font-size: 0.875rem;
    }
  }

}

.bottom{
  display: flex;
  flex-wrap: wrap;
}