*,
*::before,
*::after {
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
:root{
  --bg-color: #09090B;
  --surface-color: #18181B;
  --stroke-color: #27272A;
  
  --text-color-secondary: #A1A1AA;
  --text-color-primary: #F4F4F5;

  --brand-color-secondary: #F7B733;
  --brand-color-primary: #FC4A1A;
  
  --ff-sans: 'Inter', system-ui, sans-serif;
  --fw-base: 400;
  --fw-md: 500;
  --fw-bold: 800;

  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;


  /* --- DESKTOP (800/500/400 + Tamanho/Line-Height) --- */
  --h1-desktop: 800 4rem/1.2 var(--ff-sans);        /* 64px / 120% */
  --h2-desktop: 800 3rem/1.2 var(--ff-sans);        /* 48px / 120% */
  --h3-desktop: 800 2rem/1.2 var(--ff-sans);        /* 32px / 120% */
  --span-desktop: 500 0.875rem/1 var(--ff-sans);    /* 14px / 100% */
  --p-desktop: 400 1rem/1.6 var(--ff-sans);         /* 16px / 160% */

  /* --- MOBILE --- */
  --h1-mobile: 800 2.5rem/1.2 var(--ff-sans);       /* 40px / 120% */
  --h2-mobile: 800 1.5rem/1.2 var(--ff-sans);       /* 24px / 120% */
  --h3-mobile: 800 1.25rem/1.2 var(--ff-sans);      /* 20px / 120% */
  --span-mobile: 500 0.875rem/1 var(--ff-sans);     /* 14px / 100% */
  --p-mobile: 400 1rem/1.6 var(--ff-sans);  
  
  --px-lg: 1.5rem;
  --py-base: 1rem;
  --py-lg: 1.5rem;
  --py-xl: 3rem;

}

html{
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-base);
  color: var(--text-color-primary);
}
body{
  background-color: var(--bg-color);
}
h1,h2,h3{
  line-height: 1.2;
  font-weight: var(--fw-bold);
  color: var(--text-color-primary);
}
h1{
  font: var(--h1-mobile)
}
h2{
  font: var(--h2-mobile);
}
h3{
  font: var(--h3-mobile);
}
a{
  text-decoration: none;
  color: inherit;
}
ul [role="list"]{
  list-style: none;
}
@media (width >= 80em) {
  :root {
    --px-lg: 2rem;

    
    --py-base: 1.5rem;
    --py-lg: 2rem;
    --py-xl: 5rem;
  }
  h1{
    font: var(--h1-desktop);
  }
  h2{
    font: var(--h2-desktop);
  }
  h3{
    font: var(--h3-desktop);
  }
}