#pricing{
  & header{
    text-align: center;

    & strong{
      color: var(--brand-color-secondary);
      letter-spacing: 0.8px;
    }

    & h2{
      font: var(--h2-mobile);
    }
  }

  & .even-columns{
    margin-top: 2rem;

    & p{
      margin-top: 0.25rem;
    }
    & zin-princing{
      display: block;
      font-size: 2rem;
      line-height: 120%;
      font-weight: 800;
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;

      & small{
      font: var(--p-mobile);
      color: var(--text-color-secondary);
      }
    }

  }

  & .card .btn-md{
    width: 100%;
    width: 100%;
    margin-bottom: 2rem;
    
  }

  & .card .separator{
    height: 1px;
    margin-block: 2rem;
    background: radial-gradient( var(--text-color-secondary), var(--surface-color) 70%);
  }
  & .card{
    & h3{
    font-size: 20px;
    font-weight: 600;
    }
  }
  & ul{
    display: grid;
    gap: 1rem;
    color: var(--text-color-secondary);

    & li{
      align-items: center;
      background: url(/index.css/assets/icons/Check.svg) no-repeat;
      padding-left: 2rem;
      align-items: center;
      background-size: contain;
      background-size: min(10%, 1.5rem);
      background-position: left center;
    }
  }
  
  & ul + small{
    display: block;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: var(--text-color-secondary);
  }

  & .premium{
    position: relative;
    
    & .card{
      padding-top: 4.25rem;
    }

    & span{
      position: absolute;
      top: 0;
      left: 0;
      padding: 0.75rem 2rem;
      background: linear-gradient(
        90deg,
        var(--brand-color-primary) 0%,
        var(--brand-color-secondary) 100%
      );

      border-top-left-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;

      font: 600 var(--fs-sm) var(--ff-sans);
      text-transform: uppercase;
      letter-spacing: 0.08rem;
      color: var(--bg-color);
    }
  }


  @media (width >= 80em){

    & header{
      max-width: 50rem;
      margin-inline: auto;
    }

  }
}