.py-base{
  padding-block: var(--py-base);
}
.py-lg{
  padding-block: var(--py-lg);
}
.py-xl{
  padding-block: var(--py-xl);
}
.px-lg{
  padding-inline: var(--px-lg);
}


.desktop-only{
  display: none;
}
.even-columns{
  display: grid;
  gap: 1rem;
}
.flex{
  display: flex;
}
.gap-1{
  gap: 1rem;
}
.align-items-center{
  align-items: center;
}
.gap-1\.5rem{
  gap: 1.5rem;
}
.gap-2{
  gap: 2rem;
}
.margin-auto{
  margin: auto;
}
.container{
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
  height: calc(100% - var(--px-lg) * 2);
}

@media (width >= 80em) {
  .container{
    --max-width: 80em;
    width: min(var(--max-width), 100% - var(--px-lg) * 2);
  }
  .desktop-only{
    display: initial;
  }
  .even-columns{
  grid-auto-flow: column;
  gap: 1rem;
}
  .mobile-only{
    display: none;
  }
  
}